name: Check clang version
'on':
  schedule:
  - cron: 0 0 * * *
  workflow_dispatch: null
jobs:
  check_check_version:
    name: Check clang version
    runs-on: ubuntu-latest
    container: tuxmake/x86_64_clang-nightly
    steps:
    - uses: actions/checkout@v6
    - name: parse-debian-clang.py --check
      run: python3 scripts/parse-debian-clang.py --check
