# Runs several checks
# * check-matrix.py because GitHub limits a workflow matrix to 256 jobs
#   https://docs.github.com/en/actions/reference/usage-limits-billing-and-administration#usage-limits
# * check-patches.py to make sure applying patches via TuxSuite works correctly
# * several linters for Python consistency and correctness

name: Lint checks
on: [push, pull_request]
jobs:
  check_matrices:
    name: Check workflow matrices
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: check-matrix.py
      run: python3 scripts/check-matrix.py
  check_generated_files:
    name: Check generated files
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: generate.py
      run: python3 generator/generate.py --check
  check_patch_series:
    name: Check patches series
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: check-patches.py
      run: python3 scripts/check-patches.py
  python:
     strategy:
       fail-fast: false
       matrix:
         version: ['3.14', '3.13', '3.12', '3.11', '3.10']
     uses: ClangBuiltLinux/actions-workflows/.github/workflows/python_lint.yml@main
     with:
       python_version: ${{ matrix.version }}
